# required python packages, installed by pip3
# could probably relax the version requirements
# works under python 3.11
awkward >= 2.1.1, < 2.4
# it's rather awkward
uproot == 5.0.13
# actually need to match the range for awkward
#numpy >= 1.16.1, < 1.21
numpy
matplotlib >= 3.1.2, < 3.7.3
# need the eigh keyword
scipy == 1.6
pygit2 >= 1.5.0
pyarrow >= 3.0.0, < 21.0
fsspec  # for to_parquet
pandas # some awkward versions need pandas, and don't specify it properly
